# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Virtual Environment
venv/
env/
ENV/

# IDE specific files
.vscode/
.idea/

# Database
instance/

# Logs
*.log
events_log.json

# Local configuration
.DS_Store 